a
{
    color: black;
    background: transparent;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

td.selected
{
    background-color: rgba(96, 92, 100, 0.62);
    color: #000000;
    font-weight: bold;
}

td.duration, th.duration
{
    text-align: right;
}

td.duration_title
{
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    text-align: right;
}

td.status
{
    text-align: center;
    width: 10px;
}

td.version, th.version
{
    white-space: nowrap;
    width: auto;
}

table.editor
{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: solid 1px #000000;
    text-align: justify;
}

table.editorprint
{
    width: 95%;
    margin-left: 3%;
    margin-right: 3%;
    border: solid 1px #000000;
    text-align: justify;
}

pre
{
   display: inline-block;
   white-space: pre-wrap;       /* CSS 3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

div.version
{
    border: 1px solid #777;
    color: #121212;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fde679), to(#ded06c));
    background-image: -webkit-linear-gradient(top, #fde679, #ded06c);
    background-image: -moz-linear-gradient(top, #fde679, #ded06c);
    background-image: -ms-linear-gradient(top, #fde679, #ded06c);
    background-image: -o-linear-gradient(top, #fde679, #ded06c);
    background-image: linear-gradient(top, #fde679, #ded06c);
}

div.rcv_tooltip_title
{
    border-bottom: 1px solid #777;
    text-align: left;
}

div.rcv_tooltip_content
{
    margin-top: 4px;
    text-align: left;
}

a.rcv_tooltip
{
    outline: none;
}

a.rcv_tooltip strong
{
    line-height: 30px;
}

a.rcv_tooltip:hover
{
    text-decoration: none;
}

a.rcv_tooltip span
{
    z-index: 10;
    display: none;
    padding: 4px 8px;
    margin-top: 30px;
    margin-left: -200px;
    width: 250px;
    line-height: 16px;
}

a.rcv_tooltip:hover span
{
    display: inline;
    position: absolute;
    border: 1px solid #777;
    color: #121212;
    background-color: #dedede;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#dedede));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #dedede);
    background-image: -moz-linear-gradient(top, #fdfdfd, #dedede);
    background-image: -ms-linear-gradient(top, #fdfdfd, #dedede);
    background-image: -o-linear-gradient(top, #fdfdfd, #dedede);
    background-image: linear-gradient(top, #fdfdfd, #dedede);
}

/* CSS3 */
a.rcv_tooltip span
{
    border: solid 1px #777;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
