td.document_title_controls
{
   background-color: #ccc;
   font-weight: bold;
   text-align: right;
   vertical-align: top;
   padding: 0.5em 0.25em;
   border-top: solid 1px #000;
   border-bottom: solid 1px #000;
}

td.document_title_label
{
   background-color: #ccc;
   font-weight: bold;
   font-size: 10pt;
   vertical-align: top;
   padding: 0.5em 0.25em;
   border-top: solid 1px #000;
   border-bottom: solid 1px #000;
}

td.document_title
{
   background-color: #ccc;
   font-weight: bold;
   font-size: 12pt;
   vertical-align: top;
   padding: 0.5em 0.25em;
   border-top: solid 1px #000;
   border-bottom: solid 1px #000;
}

td.document_header_controls
{
   text-align: right;
   vertical-align: top;
}

td.document_header_label
{
   font-weight: normal;
   font-size: 10pt;
}

td.document_header
{
   font-weight: bold;
   font-size: 10pt;
}

td.document_eta_title
{
   background-color: #ccc;
   font-weight: bold;
   font-size: 12pt;
   padding: 0.4em 0.26em;
   border-top: solid 1px #000;
   border-bottom: solid 1px #000;
}

th.document_eta_label
{
   background-color: #ccc;
   font-weight: bold;
   font-size: 10pt;
   padding: 0.2em 0.26em;
}

th.document_eta_duration
{
   background-color: #ccc;
   font-weight: bold;
   font-size: 10pt;
   padding: 0.2em 0.26em;
   text-align: right;
   vertical-align: top;
}

td.document_directory_title
{
   background-color: #ccc;
   font-weight: bold;
   font-size: 12pt;
   padding: 0.4em 0.26em;
   border-top: solid 1px #000;
   border-bottom: solid 1px #000;
}

td.directory_chapter_title
{
   padding-top: 0.75em;
   font-weight: bold;
}

td.directory_chapter_item
{
   padding-left: 9.0em;
   text-indent: -7.0em;
}

td.content_chapter_title_spacer
{
   padding-top: 2.5em;
}

/*
@media print, screen {
  h1.content_chapter_title
  { 
    page-break-before: always;
  }
  pre, blockquote {
    page-break-inside: avoid;
  }
}
*/

td.content_chapter_title,
td.content_chapter_title_number
{
   background-color: #ccc;
   margin-top: 2.0em;
   font-weight: bold;
   font-size: 12pt;
   vertical-align: top;
   padding-top: 0.4em;
   padding-bottom: 0.4em;
   padding-left: 0.0em;
   padding-right: 0.3em;
   border-top: solid 1px #000;
   border-bottom: solid 1px #000;
}

td.content_chapter_title_duration
{
   background-color: #ccc;
   margin-top: 2.0em;
   font-weight: bold;
   font-size: 10pt;
   text-align: right;
   padding-right: 0.4em;
   vertical-align: top;
   border-top: solid 1px #000;
   border-bottom: solid 1px #000;
}

td.content_chapter_item_spacer
{
   padding-top: 1.5em;
}

td.content_chapter_item
{
   margin-top: 2.0em;
   font-weight: bold;
   font-size: 11pt;
   vertical-align: top;
   padding-top: 0.4em;
   padding-bottom: 0.4em;
   padding-left: 0.0em;
   padding-right: 0.3em;
}

td.content_chapter_item_number
{
   margin-top: 2.0em;
   font-weight: bold;
   font-size: 11pt;
   text-align: right;
   vertical-align: top;
   padding-top: 0.4em;
   padding-bottom: 0.4em;
   padding-left: 0.0em;
   padding-right: 0.3em;
}

td.content_chapter_item_duration
{
   margin-top: 2.0em;
   font-weight: bold;
   font-size: 9pt;
   text-align: right;
   padding-right: 0.4em;
   vertical-align: top;
}

a
{
    color: black;
    background: transparent;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

td.selected
{
    background-color: rgba(96, 92, 100, 0.62);
    color: #000000;
    font-weight: bold;
}

td.duration, th.duration
{
    text-align: right;
}

td.status
{
    text-align: center;
    width: 10px;
}

td.version, th.version
{
    white-space: nowrap;
    width: auto;
}

table.editor
{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    /*border: solid 1px #000000;*/
    text-align: justify;
}

table.editorprint
{
    width: 95%;
    margin-left: 3%;
    margin-right: 3%;
    /*border: solid 1px #000000;*/
    text-align: justify;
}

pre
{
   display: inline-block;
   white-space: pre-wrap;       /* CSS 3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}