a
{
    color: black;
    background: transparent;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

td.selected
{
    background-color: #91ffe6;
    color: #000000;
    font-weight: bold;
}

table.editor
{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: solid 1px #000000;
    text-align: justify;
}

table.editorprint
{
    width: 95%;
    margin-left: 3%;
    margin-right: 3%;
    border: solid 1px #000000;
    text-align: justify;
}